
/*--------------- basic styling --------------- */
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: "Roboto Mono" !important;
      background: #181818 !important;
      color: #fff !important;
}

.whitespace {
      width: 100%;
      height: 100px;
}

@media(max-width: 768px) {
      .whitespace {
            display: none;
      }
}

.divider-left {
	width: 38%;
	height: 6px;
	background: #fff;
      position: relative;
}

.divider-right {
	width: 32%;
	height: 6px;
	background: #fff;
      position: relative;
      left: 66%;
}

.divider-middle {
	width: 38%;
	height: 6px;
	background: #fff;
      position: relative;
      left: 32%;
}

/*---------------  intro typewriter effect --------------- */
.line {
      width: 24em;
      top: 50%;
      margin: auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
}

.anim-typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 15em;
      }
}

@media(max-width: 768px) {
      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 15em;
            }
      }
}

@keyframes blinkTextCussor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}

/*---------------  about typewriter effect --------------- */
#container {
	text-align: center;
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: white;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: white;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: white; 
	}
}

/*--------------- navigation --------------- */
nav {
      width: 100%;
      background: #181818;
      height: 80px;
      position: fixed;
      z-index: 1;
}

nav #brand {
      float: left;
      display: block;
      margin-left: 82px;
      line-height: 80px;
      font-weight: normal;
      font-size: 32px;      
}

nav #brand a {
      color: #fff;
      transition: all 0.3s ease-out;
      text-decoration: none;
}

/*---- flip ----*/
@import 'nib';
.flip {
      position: absolute;
      width: 240px;
      height: 50px;
      perspective: 500px;
      top: 50%;
      left: 6%;
      margin: -24px 0 0 -80px;
    }
    .flip a {
      font-size: 40px;
      text-transform: normal;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transform: translateZ(-25px);
      transition: transform 0.3s;
      cursor: pointer;
    }
    .flip a .front,
    .flip a .back {
      font-weight: bold;
      margin: 0;
      font-family: "Roboto Mono" !important;
      width: 240px;
      height: 50px;
      line-height: 50px;
      position: absolute;
      text-align: center;
      letter-spacing: 0.05em;
    }
    .flip a .front {
      background-color: #181818;
      color: #fff;
      transform: rotateY(0) translateZ(24px);
    }
    .flip a .back {
      background-color: rgba(255,255,255,0);
      color: rgba(34,34,34,0);
      transform: rotateX(90deg) translateZ(24px);
      overflow: hidden;
    }
    .flip a .back:after {
      content: '';
      position: absolute;
      top: -32%;
      left: -10%;
      width: 120%;
      height: 50%;
      background: #181818;
      transform: rotate(8deg);
      transition: all 0.5s ease;
      transition-delay: 0.15s;
    }
    .flip a:hover {
      transform: translateZ(-24px) rotateX(-90deg);
    }
    .flip a:hover .front {
      background: #181818;
      transition: all 0.8s ease;
    }
    .flip a:hover .back {
      color: #181818;
      transition: color 0.4s linear;
      background: #fff;
    }
    .flip a:hover .back:after {
      transform: rotate(12deg) translate(100px, -18px);
    }
    

nav #menu {
      float: left;
      right: 80px;
      position: fixed;
}

nav #menu li {
      padding-left: 32px;
      display: inline-block;
      cursor: pointer;
      font-weight: normal;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out;
      font-size: 24px;
}

nav #menu li span {
      font-weight: 700;
}

nav #menu li a {
      color: #fff;
      /* new */
      display: block;
      padding: 0 10px;
      height: 80px;
      line-height: 80px;
      cursor: pointer;
      text-decoration: none;
}

nav #menu li ul {
      position: absolute;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 200px;
      left: 0;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s;
}

nav #menu li ul li a:hover {
      background-color: transparent;
}

nav #menu li:hover>ul {
      opacity: 1;
      visibility: visible;
      background-color: #181818;
      width: 190%;
}
      /* new stop */

nav #menu li a:hover {
      background-color: transparent;
      color: #fff;
      text-decoration: none;
}

nav #menu li a::after {
      position: absolute;
      left: 20%;
      width: 0%;
      height: 2px;
      top: 80%;
      content: '';
      display: block;
      background: #fff;
      transition: width .5s;
}

nav #menu li a:hover::after {
      position: absolute;
      left: 20%;
      width: 90%;
      transition: width .5s;
}

#toggle {
      position: absolute;
      right: 45px;
      top: -8px;
      font-weight: normal;
      z-index: 2;
      line-height: 80px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
      font-size: 32px;
}

.close-btn {
      position: absolute;
      right: 40px;
      font-weight: normal;
      z-index: 2;
      cursor: pointer;
      top: -2px;
      line-height: 80px;
      font-size: 32px;
}

#resize {
      z-index: 1;
      top: 0px;
      position: fixed;
      background: #0f0f0f;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resize #menu {
      height: 90px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 140px;
}

#resize #menu li a {
      color: #fff;
}

#resize #menu li a:hover {
      text-decoration: none;
}

#resize.active {
      visibility: visible;
      opacity: 1;
}

@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
            margin-right: 4px;
      }

      nav #brand {
            margin-left: 24px;
      }

      #menu a {
            font-size: 20px;
            font-weight: 300;
      }

      #resize li span {
            font-weight: bolder;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}

/*--------------- intro section --------------- */
.intro {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.intro h1 {
      font-weight: lighter;
      text-align: center;
      letter-spacing: 0px;
      line-height: 100px;
      font-size: 72px;
}

@media(max-width: 768px) {
      .header h1 {
            font-size: 26px;
      }
}

/*--------------- scroll down icon animation --------------- */
.scroll-down {
      position: absolute;
      left: 50%;
      bottom: 100px;
      display: block;
      text-align: center;
      font-size: 20px;
      z-index: 0;
      text-decoration: none;
      text-shadow: 0;
      width: 42px;
      height: 42px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: translate(-50%, 0) rotate(45deg);
      animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
      0% {
            transform: translate(0, -20px) rotate(45deg);
            opacity: 0;
      }
      50% {
            opacity: 1;
      }
      100% {
            transform: translate(0, 20px) rotate(45deg);
            opacity: 0;
      }
}

/*--------------- projects section --------------- */
.work h1 {
      position: relative;
      display: block;
      text-align: left;
      font-weight: bold;
      line-height: 100px;
      font-size: 120px;
      letter-spacing: 4px;
      margin-left: 100px;
}

.subtext-left h4 {
      position: relative;
      display: block;
      text-align: left;
      font-weight: bold;
      line-height: 40px;
      font-size: 24px;
      letter-spacing: 2px;
      margin-left: 440px;
      color: #979797;
}

a.img-1-work, a.img-1-work:hover {
      text-decoration: none;
}

a.img-1-work img {
      height: auto;
      width: 800px;
      background-size: cover;
      position: relative;
      top: 8%;
      right: 30%;
      right: 0;
      bottom: 0;
      -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

a.img-1-work::after {
      content: "insert text here";
      font-family: "Roboto Mono";
      font-size: 72px;
      position: relative;
      display: block;
      color: #fff;
      bottom: 60%;
      right: 100%;
      right: 0;
      bottom: 0;
}

a.img-1-work:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/*--------------- footer section --------------- */
.outro {
      text-align: right;
}

.outro p {
      font-weight: lighter !important;
      margin-bottom: 20px;
}

.hr {
      background: rgba(255, 255, 255, 0.2);
      height: 1px;
}

.info h4 {
      font-size: 18px;
      font-weight: lighter;
}

.info p {
      color: grey;
      font-weight: lighter;
}

.info li {
      font-weight: lighter;
      color: #fff;
      font-size: 18px;
      padding-left: 20px;
}

#fb::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #3b5998;
}


#ig::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #8a3ab9;
}


#li::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #0077b5;
}


#sc::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #FFFC00;
}

#media, #related {
      text-align: right;
}

#media, #related ul {
      list-style: none;
}

#media ul li {
      display: inline-block;
}

@media(max-width: 768px) {
      .collab, #personal, #media, #related {
            text-align: center;
      }

      .info ul {
            margin: 0 0 0 -22px;
            padding: 0;
      }
}

a.mikinola {
      background-color: transparent;
      color: #fff;
      text-decoration: none;
}

a.mikinola:hover {
      background-color: transparent;
      color: #fff;
      text-decoration: none;
}

.mikinola::after {
      position: absolute;
      left: 66%;
      width: 0%;
      height: 1px;
      content: '';
      display: block;
      background: #fff;
      transition: width .5s;
}

.mikinola:hover::after {
      position: absolute;
      left: 66%;
      width: 32%;
      transition: width .5s;
}

a.github {
      background-color: transparent;
      color: #fff;
      text-decoration: none;
}

a.github:hover {
      background-color: transparent;
      color: #fff;
      text-decoration: none;
}

.github::after {
      position: absolute;
      left: 73%;
      width: 0%;
      height: 1px;
      content: '';
      display: block;
      background: #fff;
      transition: width .5s;
}

.github:hover::after {
      position: absolute;
      left: 73%;
      width: 25%;
      transition: width .5s;
}
/*--------------- work section --------------- */

.intro-content {
      margin-left: 0%;
}

.intro-content p {
      font-weight: 300;
      line-height: 36px;
      color: grey;
}

.intro-content h6 {
      text-align: left;
}

@media(max-width: 768px) {
      .intro-content {
            padding-top: 50px;
            width: 96%;
            margin: 0 auto;
      }
}

.headline {
      position: relative;
      display: inline-block;
      text-align: left;
      font-weight: bold;
      line-height: 100px;
      font-size: 60px;
      letter-spacing: 4px;
      margin-left: 100px;
      background: transparent;
      color: #fff;
      text-decoration: none;
}

.headline:hover{
      background-color: transparent;
      color: #fff;
      text-decoration: none;
}

.headline::after{
      position: absolute;
      left: 0%;
      width: 0%;
      height: 3px;
      content: '';
      display: block;
      background: #fff;
      transition: width .5s;
}


.headline:hover::after {
      position: absolute;
      left: 0%;
      width: 100%;
      transition: width .5s
}
/*---------------about page --------------- */

.about h1 {
      position: relative;
      display: block;
      text-align: right;
      font-weight: bold;
      line-height: 100px;
      font-size: 120px;
      letter-spacing: 4px;
      margin-right: 140px;
}

.subtext-right h4 {
      position: relative;
      display: block;
      text-align: right;
      font-weight: bold;
      line-height: 16px;
      font-size: 28px;
      letter-spacing: 2px;
      margin-right: 560px;
      color: #979797;
}

a.img-1-about, a.img-1-about:hover {
      text-decoration: none;
}

a.img-1-about img {
      height: auto;
      width: 600px;
      background-size: cover;
      position: relative;
      top: 8%;
      left: 6%;
      right: 0;
      bottom: 0;
      -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

a.img-1-about::after{
      content: "a few words about me";
      font-family: "Roboto Mono";
      position: absolute;
      font-size: 54px;
      color: #fff;
      margin-left: 320px; 
      bottom: 240px;
      width: 800px;
      color: #979797;
      font-weight: lighter;
}

a.img-1-about:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.bio {
      position: absolute;
      display: block;
      font-weight: lighter;
      margin-left: 840px;
      margin-top: -540px;
      font-size: 96px;
      line-height: 180px;
      color: #fff;
}

@media(max-width: 1800px) {
      .bio {
            position: absolute;
            display: block;
            line-height: 70px;
            font-size:36px;
            margin-left: 800px;
      }

      a.img-1-about::after {
            font-size: 38px;
            margin-left: 200px;
      }
      
}

.grid {
      width: 100%;
      max-width: 102rem;
      margin-left: 26%;
      margin-right: auto;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    .grid-block {
      width: 30%;
      min-height: 11.25rem;
      padding: 1.2rem;
    }
    
    .image-grid {
      -webkit-transform: rotateX(45deg) rotateZ(45deg);
      transform: rotateX(45deg) rotateZ(45deg);
      -webkit-perspective: 1000px;
      perspective: 1000px;
    }
    
    .image-grid .tile-link:hover .tile-img {
      top: -1rem;
      left: -1rem;
    }
    
    .image-grid .tile-img {
      position: relative;
      top: 0;
      left: 0;
      -webkit-transition-property: opacity, top, left, box-shadow;
      transition-property: opacity, top, left, box-shadow;
      -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    }
    
    .tile-link {
      display: block;
    }
    
    .tile-link:hover .tile-img {
      opacity: 1;
      -webkit-filter: grayscale(0);
	filter: grayscale(0);
    }
    
    .tile-link:hover .tile-img-link {
      display: block;
    }
    
    .tile-link:hover .tile-img-link:hover .tile-img {
      opacity: 0.5;
    }
    
    .tile-img {
      display: block;
      width: 100%;
      height: auto;
      opacity: 1;
      -webkit-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-duration: 0.125s;
      transition-duration: 0.125s;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
    }
    .tile-link:hover .tile-img1 {
      box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
        10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
        20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
    }

/*--------------- contact form --------------- */

.contact h1 {
      position: relative;
      display: block;
      text-align: center;
      font-weight: bold;
      line-height: 100px;
      font-size: 120px;
      letter-spacing: 4px;
      margin-right: 140px;
}

.subtext-middle h4 {
      position: relative;
      display: block;
      text-align: center;
      font-weight: bold;
      line-height: 16px;
      font-size: 28px;
      letter-spacing: 2px;
      margin-left: 600px;
      color: #979797;
}

#contact-form {
      margin: 5% 1.4%;
}

#contact-form ul {
      list-style: none;
      border-radius: 5px;
      margin-bottom: 40px;
}

#contact-form li {
      padding: 10px;
}

#contact-form li:last-of-type {
      border-bottom: none;
}

#contact-form label {
      display: block;
      font-size: .8em;
      color: #999;
      padding-left: 5px;
}

#contact-form input, #contact-form textarea {
      width: 100%;
      padding: 5px;
      border: none;
      resize: vertical;
      background: transparent;
      color: #fff;
      font-weight: bolder;
}

input:focus {
      outline: none;
      border: none;
}

textarea:focus {
      outline: none;
      border: none;
}

.textarea {
      border-bottom: 1px solid #dfdfdf;
}

.send {
      margin-left: 50px;
      text-transform: uppercase;
      padding: 20px 30px;
      background: transparent;
      color: #dfdfdf;
      font-size: 14px;
      letter-spacing: 2px;
}

.send:hover {
      background: #dfdfdf;
      color: #101010;
}

@media(max-width: 768px) {
      #contact-form {
            margin: 5% -8%;
            width: 98%;
      }
}

/*--------------- project page --------------- */

.prev, .next p {
      color: grey;
}

.prev p {
      text-align: left;
}

.next p {
      text-align: right;
}